.u-section-1 .u-sheet-1 {
  min-height: 977px;
}

.u-section-1 .u-image-1 {
  width: 404px;
  height: 229px;
  margin: 136px auto 0 88px;
}

.u-section-1 .u-image-2 {
  width: 404px;
  height: 228px;
  margin: -229px auto 0 648px;
}

.u-section-1 .u-text-1 {
  margin: 12px 815px 0 255px;
}

.u-section-1 .u-btn-1 {
  font-weight: 300;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: -21px 253px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: 460px auto 0 543px;
}

.u-section-1 .u-text-2 {
  font-weight: 100;
  font-size: 0.875rem;
  margin: 10px 497px 31px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: 112px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-left: 368px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 740px;
    margin-left: 228px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    margin-right: 53px;
    margin-left: 472px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 242px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 348px;
    margin-left: 316px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 610px;
    margin-left: 358px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 452px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-right: 357px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: 336px;
    margin-left: 136px;
  }

  .u-section-1 .u-text-1 {
    width: 172px;
    margin-left: 484px;
    margin-right: 484px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 461px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 542px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-1 .u-image-1 {
    width: 356px;
    height: 202px;
    margin-right: 392px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 192px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 472px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 548px;
    margin-left: auto;
  }
}